@model SocTube.Core.Models.Domains.SocialMedia

@using (Html.BeginForm("SaveMedia", "SocTube", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="border-light border-top border-left">

        <div class="row text-right justify-content-center mt-5">
            <div class="form-group col-md-3">
                <h5>Linki Social Mediów</h5>
            </div>
        </div>
        <div class="row text-right justify-content-center">
            <div class="form-group col-md-3">
                <img src="~/content/image/facebook.png" width="30" height="30" />
            </div>
            <div class="form-group ml-3 col-md-5">
                @Html.TextBoxFor(x => x.Facebook, new { @class = "form-control bg-dark text-white" })
            </div>
        </div>
        <div class="row text-right justify-content-center">
            <div class="form-group col-md-3">
                <img src="~/content/image/youtube.png" width="30" height="30" />
            </div>
            <div class="form-group ml-3 col-md-5">
                @Html.TextBoxFor(x => x.YouTube, new { @class = "form-control bg-dark text-white" })
            </div>
        </div>
        <div class="row text-right justify-content-center">
            <div class="form-group col-md-3">
                <img src="~/content/image/instagram.png" width="30" height="30" />
            </div>
            <div class="form-group ml-3 col-md-5">
                @Html.TextBoxFor(x => x.Instagram, new { @class = "form-control bg-dark text-white" })
            </div>
        </div>
        <div class="row text-right justify-content-center">
            <div class="form-group col-md-3">
                <img src="~/content/image/twitch.png" width="30" height="30" />
            </div>
            <div class="form-group ml-3 col-md-5">
                @Html.TextBoxFor(x => x.Twitch, new { @class = "form-control bg-dark text-white" })
            </div>
        </div>
        <div class="row text-right justify-content-center">
            <div class="form-group col-md-3">
                <img src="~/content/image/twitter.png" width="35" height="35" />
            </div>
            <div class="form-group ml-3 col-md-5">
                @Html.TextBoxFor(x => x.Twitter, new { @class = "form-control bg-dark text-white" })
            </div>
        </div>
        <div class="row text-right justify-content-center">
            <div class="form-group col-md-3">
                <img src="~/content/image/tiktok.png" width="30" height="30" />
            </div>
            <div class="form-group ml-3 col-md-5">
                @Html.TextBoxFor(x => x.Tiktok, new { @class = "form-control bg-dark text-white" })
            </div>
        </div>
        <div class="row text-right justify-content-center">
            <div class="form-group col-md-3">
                <img src="~/content/image/github.png" width="30" height="30" />
            </div>
            <div class="form-group ml-3 col-md-5">
                @Html.TextBoxFor(x => x.Github, new { @class = "form-control bg-dark text-white" })
            </div>
        </div>

        <div class="d-flex flex-column text-center justify-content-center align-items-center">
            <button class="btn btn-primary btn-lg" type="submit">
                Zapisz
            </button>
        </div>
    </div>
}